/* nên phần logo */

.bg-img {
   /* border:1px solid blue; */
}
/* logo truong */
.logo-school{
    /* border:1px solid red; */
}
/* thanh cong cu */
.navbask {  
    font-size: 13.1px; 
}

/* thanh nền  dưới logo*/
.navlg{
    
    border:1px solid blue;
    border-width: 0.2em;
}



/* Phần thân */
/* Phần  carol */
.cr-img {
    width: 100%;
    height: 500px; 
}

  
 /* Phần TIN TỨC MỚI  */

.lates-news .tile-news {
     text-align:center;
     margin: 20px auto;
     
}
.lates-news .content-news{
    width: 75%;
   height: 260px;
    margin:0px auto;
    border: 1px dashed red;
   /* display: inline-block; */
   display: flex;
}
.lates-news .content-news .post-news{
    /* height: 200px;
    width: 200px;
    
    */
    color: #f1f1f1;
    width: 250px;
    height: 260px;
    line-height: 40px;
    margin-left: -5px;
    border:1px dashed blue;
    margin-left: 30px;
   
 
}
.lates-news .content-news .post-news .new-image{
    width: 100%;
   padding:10px;
   height: 200px;
}
.lates-news .content-news .post-news .post-info{
    height: 70px;
    padding: 0px 5px;
    width:250px;
    /* text-align: center; */
}


