
/* thanh cong cu */
.navbask {  
    font-size: 13.1px; 
}

/* thanh nền  dưới logo*/
.navlg{ 
    border:1px solid blue;
    border-width: 0.2em;
}
.header-search {
    left: 290px;
    top: 30px;
}
/* .header-color-text{
    color: #000;
} */

/* Phần thân */
/* Phần  carol */
.cr-img {
    width: 100%;
    height: 500px; 
}

  
 /* Phần TIN TỨC MỚI  */

.lates-news .tile-news {
     text-align:center;
     margin: 20px auto;
     
}
.lates-news .content-news{
    width: 75%;
   height: 260px;
    margin:0px auto;
   display: flex;
}
.lates-news .content-news .post-news{
    color: #f1f1f1;
    width: 250px;
    height: 260px;
    margin-left: 30px;
}
.lates-news .content-news .post-news .new-image{
    width: 100%;
   padding:10px;
   height: 200px;
}
.lates-news .content-news .post-news .post-info{
    height: 70px;
    padding: 0px 5px;
    width:250px;
    
}

.post-info .from-post-info{
    display: none;
    font-size: 10px;
}

.post-info .from-post-info .from-post p {
    margin-top: .1em;
    margin-bottom: .1em;
}
/* thanh xem thêm  */
.navlg-seemore{
    margin-top: 10px;
    border-width: 1em;
    background-color: blue;
    text-align: center;
    color:black;
}
.navlg-seemore .color{
    color:white;
}


/* Phần cuối */
.background-footer {
    background-image:url("images/anhtruong.png");
    border: 1px solid red;
}